body {
    background-color: #5d2157;
}
.navbg {
    background-color: #4b1b46;
}

.navtext {
    color:orange;
    font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size:30px;
}

.navtext:hover {
    color:rgb(255, 205, 111);
}

.burger {
    background-color: orange;
}

.pumpkinnav {
    width:150px;
    height:150px;
}

.landingtext {
    font-family: "Creepster", system-ui;
    font-size:65px;
    font-weight: 400;
  font-style: normal;
}

.landingtext1 {
    font-family: "Creepster", system-ui;
    font-size:20px;
    font-weight: 400;
  font-style: normal; 
}

ul.homescreen {
    list-style-type: none;
}

.listtext {
    font-family: "Creepster", system-ui;
    font-size:35px;
    font-weight: 400;
  font-style: normal; 
}

.subtext {
    font-family: "Creepster", system-ui;
    font-size:23px;
    font-weight: 400;
  font-style: normal;
}

.btntext {
    font-family: "Creepster", system-ui;
    font-size:35px;
    font-weight: 400;
  font-style: normal; 
}

.more-info {
    background-color: #4b1b46;
    border: orange solid 5px;
    border-radius: 5px 5px 5px 5px
}

.more-info:hover {
    background-color: orange;
    border: white solid 5px;
    border-radius: 5px 5px 5px 5px;
}

.trunkimg {
    width:450px;
    height:600px;
    border: 10px solid orange;
    border-radius: 10px 10px 10px 10px;
}

.description {
  background-color: rgb(255, 165, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  width:200px;
  height:100px;
  font-family: "Creepster", system-ui;
    font-size:23px;
    font-weight: 400;
  font-style: normal;
  transform: translate(-50%, -50%);
}

.schedule {
  background-color: orange;
  color:white;
  font-family: "Creepster", system-ui;
    font-size:35px;
    font-weight: 400;
  font-style: normal;
  border-radius: 5px 5px 5px 5px;
}

.schedule1 {
  color:orange;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
}
